*{
    margin:0px;
    padding:0px;
}
body{
    background-color:rgb(213, 219, 219);
    margin: 0;
    display: grid;
    place-items: center;
    height: 100vh; 
}
#number-input{
    background-color:rgb(52, 54, 52);
}
.container{
    text-align:center;
    background-color:rgb(172, 173, 172);
    width:40vw;
    height:20vw;
    
}
.description{
    margin:15px;
}
.input{
    margin:15px;
    color:white;
}
#submit-button{
    background-color:rgb(207, 212, 207);
    color:black;
    margin-bottom:15px;
}